/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2014, 11:52:00 PM
    Author     : Akash
*/

.footer-title{
    color: #b9b9b9;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Calibri';
}

a:hover{
    color: #99ff99;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.footer-background{
    background-color: #f2f2f2;
    height: 200px;
}

.icon-social-fb:before{
   content: url(../img/fb1.png);
   
}
.icon-social-fb:hover{
    content: url(../img/fb2.png);
}
.icon-social-gPlus:before{
    content: url(../img/g.png);
}
.icon-social-gPlus:hover{
    content: url(../img/g2.png);
}
.icon-social-twit:before{
    content: url(../img/twit1.png);
}
.icon-social-twit:hover{
    content: url(../img/twit2.png);
}