/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2014, 4:30:13 PM
    Author     : Akash
*/
.font-title{
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Calibri';
}
.margin-top{
    margin-top: 7px;
}

.service-font-title{
    color: #ED786A;
}
.service-para-font{
    font-size: 12.5px;
    font-weight: normal;
}
